<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entities</title>
</head>
<body>
    <table>
        <tr>
            <th>
                Topic
            </th>
            <th>
                Entity
            </th>
            <th>
                Count
            </th>
        </tr>
        <tr>
            <td>entity[1] </td>
            <td> entity[2] </td>
            <td> entity[3] </td>
            </tr>

            
    </table>
</body>
</html>