{% extends "base.html" %}

{% block title %}Summary{% endblock %}

{% block content%}

<h1>Entities</h1>

    <table>
        <tr>
            <th>
                Topic
            </th>
            <th>
                Entity
            </th>
            <th>
                Count
            </th>
        </tr>
        <tr>
            {% for entity in entities %}
            <td>{{ entity[0] }}</td>
            <td>{{ entity[1] }}</td>
            <td>{{ entity[2] }}</td>
            </tr>
            {% endfor %}

            
    </table>
{% endblock %}
