<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Tech News Aggregator</title>
</head>
<body>
    <h1>Tech News Aggregator</h1>
   
    
</div>
<div class="documents-div">
    

    <table>
        <tr>
            <th>
                Latest HeadLines
            </th>
            <th>
                Summary
            </th>
            <th>
                Find topics
            </th>
            <th>
                Link to Article
            </th>
        </tr>
        <tr>
            {% for news in news_list %}
            <td>{{news[0]}}</td>
            <td><a href = {{url_for('views.summary', doc_id = news[3])}}>Summary</a></td>
            <td><a href = {{url_for('views.entities', doc_id = news[3])}}>Entities</a></td>
            <td><a href ={{news[1]}} target="_blank">Read more</a></td>
            </tr>
            {% endfor %}
            
    </table>
</div>
    
</body>
</html>