
{% extends "base.html" %} {% block title %}Login{% endblock %}


{% block content%}

    <h1>Tech News Aggregator</h1>
   
    
</div>
<div class="documents-div">
    

    <table>
        <tr>
            <th>
                Latest HeadLines
            </th>
            <th>
                Summary
            </th>
            <th>
                Find topics
            </th>
            <th>
                Link to Article
            </th>
        </tr>
        <tr>
            {% for news in news_list %}
            <td>{{news[0]}}</td>
            <td><a href = {{url_for('views.summary', doc_id = news[3])}}>Summary</a></td>
            <td><a href = {{url_for('views.entities', doc_id = news[3])}}>Entities</a></td>
            <td><a href ={{news[1]}} target="_blank">View Original</a></td>
            </tr>
            {% endfor %}
            
    </table>
</div>
{% endblock %}
